<body>
    <div class="parent">
        <div class="child-1">
            <img src="../../assets/fifamanip.jpeg" alt="">
        </div>
        <div class="child-2">
            <h3 style="text-align: center;">No match manipulation detected at FIFA World Cup</h3><br>
            <p>The multi-stakeholder Integrity Task Force established by FIFA to monitor all matches played during the
                FIFA World Cup 2022™ for match-manipulation incidents and integrity-related issues successfully
                completed its work on 22 December 2022. No cases were identified. </p>
            <p>As part of its work, the Task Force analysed monitoring reports of legal betting markets, conducted
                multi-jurisdictional inquiries, and reviewed surveillance of competition venues for any suspicious
                behaviour. No match manipulation threats to any game that was played during the tournament were
                detected.</p>
            <p>The composition of the task force ensured an experienced, coordinated and timely response to any alert of
                possible match-manipulation incidents and integrity-related issues throughout the FIFA World Cup™.</p>

        </div>
    </div>
</body>