<body>
    <div class="parent">
        <div class="child-1">
            <img src="../../assets/mbappe.webp" alt="">
        </div>
        <div class="child-2">
            <h3 style="text-align: center;">Kylian Mbappe joins back PSG</h3><br>
            <p>Kylian Mbappe set to play for PSG just 10 DAYS after France's World Cup final defeat to Argentina. MBAPPE
                returned so quickly due to 2 main reasons. Firstly, from the player's perspective, Mbappe wants to get
                back into the rhythm of club football as soon as possible. The winger was devastating at the World Cup,
                snagging the golden boot and scoring a hat-trick in the final. It's the kind of form that needs clinging
                onto. </p>
            <p>And the club has supported his initiative. GOAL can confirm that Mbappe met with manager Christophe
                Galtier and sporting director Luis Campos on Monday, expressing his desire to hit the ground running.
                PSG play Strasbourg next Wednesday, and with Messi a doubt and Neymar also uncertain, Galtier might need
                his star winger in the XI.</p>
        </div>
    </div>
</body>