img{
    margin-top: 126px;
    margin-left: 160px;
    height: 430px;
    width: 340px;
}
.parent{
    background-color: rgba(247, 247, 247, 0.87);
}
.child-2{
    margin-top: -410px;
    margin-left: 650px;
    text-align:justify;
    height: 500px;
    width: 500px;
}
body{
    background-image: url(../../assets/loginWP.webp);
}
/* background-color: rgba(225, 228, 231, 0.87); */
