header{
    padding: 60px;
    height: 350px;
    /* background-color: rgb(2, 5, 7);  */
    /* background-color: #c4c3c3; */
    /* background-color: rgb(114, 158, 202); */
    background-image: url(../../assets/argfra4.jpg);
    /* background-size: cover; */
}
body{
    background-color: aliceblue;
}
.rightText{
    margin-top: -65px;
    text-align: end;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rightText button{
    height: 60px;
    width: 120px;
    color: rgba(0, 0, 0, 0.822);
    background-color: rgb(250, 220, 49);
    border-radius: 10px;
    animation: anim 700ms ease-in-out 10ms infinite;
}
.rightText button:hover{
    background-color: rgb(245, 224, 105);
}
@keyframes anim{
    from{
        width:default ;
    }
    to{
        /* width: 600px; */
        transform: scale(1.1);
    }
}
.leftText{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -25px;
    margin-left: 30px;
    width: 160px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../../assets/argfra.png);
    color: white;
    border: 3px solid white;
    border-radius: 5px;
}
header img{
    transition: 0.2s;
    margin-left: 30px;
    border-radius: 10px;
}
header img:hover{
    transform: translateY(-2.5%);
}
.log button{
    margin-left: 1205px;
    margin-top: 35px;
    height: 40px;
    width: 70px;
    color: aliceblue;
    background-image: url(../../assets/argfra.png);
    font-size: small;
    border-radius: 5px;
}
.carousel{
    padding: 60px;
}
.carousel-caption{
    background-color: rgba(57,87,79,0.5);
}
.carousel img{
    height: 700px;
}
.datepicker{
    /* margin-top: 20px; */
    padding-top: 30px;
    height: 140px;
    text-align: center;
    transition: 0.1s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    background-color:slategray;
    /* position: sticky;
    top:0px; */
}
.datepicker:hover{
    color: black;
    background-color: aliceblue;
    height: 150px;
    padding-top: 35px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;
}
.news{
    padding: 60px;
    position: relative;
}
.leftnews{
    position: sticky;
    top:20px;
    text-align: justify;
}
.leftnews p{
    font-family:'Courier New', Courier, monospace
}
.fourgrid img{
    height: 227px;
    width: 442px;
}
.fcard{
    transition: 0.2s;
}
.fcard:hover{
    transform: translateY(-1.5%);
    box-shadow: 5px 10px 10px 8px #888888;
}

.spanel{
    /* padding: 10px; */
    /* margin-left: 380px; */
    margin-top: 50px;
    /* margin-bottom: 50px; */
    margin-left: 10px;
    /* display: flex; */
    /* justify-content: space-around;
    height: 600px;
    background-color: cadetblue; */
}
.sbox{
    height: 120px;
    width: 440px;
    background-color: white;
    border: 0.1px solid rgba(187, 187, 187, 0.884);
    border-radius: 10px;
    transition: 0.2s;
}
.sbox:hover{
    transform: translateY(-1.5%);
    box-shadow: 5px 10px 10px 8px #888888;
}

.stext{
    padding-top: 20px;
    /* margin-left: 10px; */
}
.sbox img{
    height: 100px;
    width: 100px;
    padding-top: 20px;
    padding-left: 10px;
}
.bone{
    margin-left: 460px;
    margin-top: -120px;
}
.btwo{
    margin-top: 30px;
}
.bthree{
    margin-left: 460px;
    margin-top: -120px;
}
.bfour{
    margin-top: 30px;
}
.bfive{
    margin-top: -120px;
    margin-left: 460px;
}
footer{
    background-color: azure;
    padding: 60px;
    height: 600px;
}
.fone{
    color: rgb(188, 188, 224);
    margin-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ftwo{
    margin-left: 30px;
    margin-top: 25px;
}
.fthree{
    margin-top: -350px;
    margin-left: 300px;
}
.icons{
    margin-left: 35px;
    margin-top: 230px;
}