<p>cricket works!</p>
<!-- <form class="row row-cols-sm-auto">
	<div class="col-12">
		<div class="input-group">
			<input
				class="form-control"
				placeholder="yyyy-mm-dd"
				name="dp"
				[(ngModel)]="model"
				ngbDatepicker
				#d="ngbDatepicker"
			/>
			<button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
		</div>
	</div>
</form> -->

<!-- Date Picker: <input type="date" [min]="minDate" [max]="maxDate" [(ngModel)]="date">
User selected date is : {{date}} -->
<p>
	<a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
	  Link with href
	</a>
  </p>
  <div class="collapse" id="collapseExample">
	<div class="card card-body">
	  
	</div>
  </div>