<div class="parent">
    <div class="child football">
        <div class="card bord text-bg-dark">
            <img src="../../assets/Ronaldo.webp" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Football</h5>
              <button (click)="football()" type="button" class="btn btn-outline-success">Explore</button>
            </div>
          </div>
    </div>

    <div class="child cricket">
        <div class="card bord text-bg-dark">
            <img src="../../assets/dale.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Cricket</h5>
              <button (click)="cricket()" type="button" class="btn btn-outline-danger">Explore</button>
            </div>
          </div>
    </div>

    <div class="child tennis">
        <div class="card bord text-bg-dark">
            <img src="../../assets/Rafael_Nadal.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Tennis</h5>
              <button type="button" class="btn btn-outline-primary">Explore</button>
            </div>
          </div>
    </div>

    <div class="child Volleyball">
        <div class="card bord text-bg-dark">
            <img src="../../assets/volley.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Hockey</h5>
              <button type="button" class="btn btn-outline-secondary">Explore</button>
              <!-- <p class="card-text">wider card</p>
              <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
            </div>
          </div>
    </div>
</div>